.footer {
    position: relative;
    left: 0;
    bottom: 0;
    height: 15vh;
    width: 100%;
    background-color:white;
    box-shadow: 0 4px 2px 6px lightgray;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .socialIcons{
    width: 100%;
    display: flex;
    justify-content:start;
    margin-left: 3vh;
  }

  .socialIcons a{
    text-decoration: none;
    padding: 10px 10px 5px 10px;
    margin: 30px 0px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 3em;
    color: black;
    opacity: 0,9;
    margin-right: 4vh;
}
/* Hover affect on social media icon */
.socialIcons a:hover i{
    color: #C99929;
    transition: 0.5s;
}

.brand-name {
  font-size: 24px;
  margin: 0;
  padding: 0;
  min-width: fit-content;
  padding-right: 2%;
}

@media (max-width:1024px){
  .socialIcons a i{
    font-size: 3em;
    margin-right: 1.5vh;
    }
  .footer {
    height: 10vh;
  }
}