
body {
    font-family: "Cairo", sans-serif;
}

header {
    
}

.headerDiv {
    display: flexbox;
    flex-direction: column-reverse;
    margin-top: 2%; 
    border-bottom: 1px solid black;     
    justify-content: space-between;
}

.divDetector {
    background-color: aqua;
}

.logoDiv {
    flex-grow: 4;
}

header .logo { 
    width: 120px;
    margin-right: 50px;
 }

.logoName {
    align-content: center;
    margin-right: 20px;
}